.container{}
.container h3{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 300;
}
.catScoreContainer{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 300;
    margin: 5px;
}
.container h2{
    text-align: center;
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.quizContainer{
    border: 5px solid rgb(104, 103, 103);
    margin-inline: 40px;
    padding-inline: 40px;
    padding-block: 20px;
}
.question{
    font-size:  1.4rem;
    font-weight: 700;
    text-align: center;
}
.options{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    
}
.option{
    width: calc(50% - 20px);
    text-align: center;
    background-color: #efefef;
    color: black;
    padding-block: 15px;
    font-size: 1rem;
    border: 2px solid gray;
    cursor: pointer;
}
.correct{
    background-color: #07cf00;
    color: white;
    
}
.wrong{
    background-color: #e90000;
    color: white;

    
}

.btnsContainer{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}




.btn{
    padding: 12px 30px;
    background-color: #3f51b5;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.loading{
    font-size: 200px;
}



@media (max-width: 640px){
    .quizContainer{
        padding-inline: 20px;
        margin-inline: 20px;
    }
    .option{
    width: 100%;
    }
    .options{
        gap: 20px;
        margin-top: 20px;
    }
    
}

    

@media (max-width: 500px){
.btnsContainer{
    flex-direction: column-reverse;
    gap: 15px;
    margin-top: 20px;
}
.btn{
    width: 100%;
}
.quizContainer{
        padding-inline: 10px;
        margin-inline: 10px;
    }
    html{
        font-size: 14px;
    }
    .options{
        gap: 10px;
        margin-top: 10px;
    }
}