
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 8vw;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}
.divider{
    width: 100%;
    margin: 10px;
}


